body { text-rendering: optimizeLegibility; font-family: sans-serif; font-size: 16px; font-size: 1rem; font-weight: normal; font-style: normal; text-decoration: none; }

body#tinymce { margin: 16px; margin: 1rem; }
